src/main/resources/siebelComAsiBITGetLOV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsdLocal1="http://www.siebel.com/xml/BIT%20LOV"
        targetNamespace="http://siebel.com/CustomUI"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://siebel.com/CustomUI"
        >
    <types>
        <xsd:schema
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                targetNamespace="http://siebel.com/CustomUI"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                >
            <xsd:import
                    namespace="http://www.siebel.com/xml/BIT%20LOV"
                    ></xsd:import
                    >
            <xsd:element
                    name="BIT_spcGet_spcLOV_Input"
                    >
                <xsd:complexType
                        >
                    <xsd:sequence
                            >
                        <xsd:element
                                name="Search_spcSpec"
                                type="xsd:string"
                                ></xsd:element
                                >
                    </xsd:sequence
                            >
                </xsd:complexType
                        >
            </xsd:element
                    >
            <xsd:element
                    name="BIT_spcGet_spcLOV_Output"
                    >
                <xsd:complexType
                        >
                    <xsd:sequence
                            >
                        <xsd:element
                                ref="xsdLocal1:ListOfBitLov"
                                ></xsd:element
                                >
                        <xsd:element
                                name="Error_spcCode"
                                type="xsd:string"
                                ></xsd:element
                                >
                        <xsd:element
                                name="Error_spcMessage"
                                type="xsd:string"
                                ></xsd:element
                                >
                    </xsd:sequence
                            >
                </xsd:complexType
                        >
            </xsd:element
                    >
        </xsd:schema
                >
        <xsd:schema
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                xmlns:xsdLocal1="http://www.siebel.com/xml/BIT%20LOV"
                targetNamespace="http://www.siebel.com/xml/BIT%20LOV"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                >
            <xsd:annotation
                    >
                <xsd:documentation
                        >Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation
                </xsd:documentation
                        >
            </xsd:annotation
                    >
            <xsd:element
                    name="ListOfBitLov"
                    type="xsdLocal1:ListOfBitLov"
                    ></xsd:element
                    >
            <xsd:complexType
                    name="ListOfBitLovTopElmt"
                    >
                <xsd:sequence
                        >
                    <xsd:element
                            name="ListOfBitLov"
                            maxOccurs="1"
                            minOccurs="1"
                            type="xsdLocal1:ListOfBitLov"
                            ></xsd:element
                            >
                </xsd:sequence
                        >
            </xsd:complexType
                    >
            <xsd:complexType
                    name="ListOfBitLov"
                    >
                <xsd:sequence
                        >
                    <xsd:element
                            name="BitLov"
                            maxOccurs="unbounded"
                            minOccurs="0"
                            type="xsdLocal1:BitLov"
                            ></xsd:element
                            >
                </xsd:sequence
                        >
            </xsd:complexType
                    >
            <xsd:complexType
                    name="BitLov"
                    >
                <xsd:sequence
                        >
                    <xsd:element
                            name="Id"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Searchspec"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Active"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="High"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="IntegrationId"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Low"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Name"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="OrderBy"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="ParentId"
                            maxOccurs="1"
                            minOccurs="0"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Type"
                            maxOccurs="1"
                            minOccurs="1"
                            type="xsd:string"
                            ></xsd:element
                            >
                    <xsd:element
                            name="Value"
                            maxOccurs="1"
                            minOccurs="1"
                            type="xsd:string"
                            ></xsd:element
                            >
                </xsd:sequence
                        >
                <xsd:attribute
                        name="Operation"
                        type="xsd:string"
                        ></xsd:attribute
                        >
            </xsd:complexType
                    >
        </xsd:schema
                >
    </types
            >
    <message
            name="BIT_spcGet_spcLOV_Input"
            >
        <part
                name="BIT_spcGet_spcLOV_Input"
                element="tns:BIT_spcGet_spcLOV_Input"
                ></part
                >
    </message
            >
    <message
            name="BIT_spcGet_spcLOV_Output"
            >
        <part
                name="BIT_spcGet_spcLOV_Output"
                element="tns:BIT_spcGet_spcLOV_Output"
                ></part
                >
    </message
            >
    <portType
            name="BIT_spcGet_spcLOV"
            >
        <operation
                name="BIT_spcGet_spcLOV"
                >
            <input
                    message="tns:BIT_spcGet_spcLOV_Input"
                    ></input
                    >
            <output
                    message="tns:BIT_spcGet_spcLOV_Output"
                    ></output
                    >
        </operation
                >
    </portType
            >
    <binding
            name="BIT_spcGet_spcLOV"
            type="tns:BIT_spcGet_spcLOV"
            >
        <soap:binding
                transport="http://schemas.xmlsoap.org/soap/http"
                style="document"
                ></soap:binding
                >
        <operation
                name="BIT_spcGet_spcLOV"
                >
            <soap:operation
                    soapAction="document/http://siebel.com/CustomUI:BIT_spcGet_spcLOV"
                    ></soap:operation
                    >
            <input
                    >
                <soap:body
                        use="literal"
                        ></soap:body
                        >
            </input
                    >
            <output
                    >
                <soap:body
                        use="literal"
                        ></soap:body
                        >
            </output
                    >
        </operation
                >
    </binding
            >
    <service
            name="BIT_spcGet_spcLOV"
            >
        <port
                binding="tns:BIT_spcGet_spcLOV"
                name="BIT_spcGet_spcLOV"
                >
            <soap:address
                    location="http://10.1.13.113/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
                    ></soap:address
                    >
        </port
                >
    </service
            >
</definitions
        >